.comm__Wrap {
    display: flex;
    flex-wrap: wrap;

    .nav {
        width: 15%;
        background-color: #F4F4F4;
        text-align: center;
        border-right: 2px solid #D6D6D6;

        h2 {
            margin: 0 auto;
            width: 90%;
            margin-top: 30px;
            padding: 18px 10px 15px;
            background-color: var(--primary-color);
            font-size: 20px;
            border-radius: 7px;
            color: var(--white);
            font-weight: 900;
        }

        ul {
            margin-top: 30px;
            background-color: var(--white);

            li {
                text-align: left;
                padding: 15px 30px 12px;
                display: flex;
                align-items: center;

                div {
                    margin-right: 5px;
                    margin-bottom: 3px;
                    width: 20px;
                    height: 20px;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                }

                a {
                    color: #565656;
                }

                .hot {
                    background-image: url(../../img/icon_fire.svg);
                }

                .medal {
                    background-image: url(../../img/icon_medal.svg);
                }

                .hat {
                    background-image: url(../../img/icon_hat.svg);
                }

                .pencil {
                    background-image: url(../../img/icon_pencil.svg);
                }

                .smile {
                    background-image: url(../../img/icon_smile.svg);
                }

                .eye {
                    background-image: url(../../img/icon_eye.svg);
                }

                .ame {
                    background-image: url(../../img/icon_ame.svg);
                }

                .glass {
                    background-image: url(../../img/icon_glass.svg);
                }

                .forder {
                    background-image: url(../../img/icon_forder.svg);
                }
            }

            .active {
                background-color: #D9F2E9;

                a {
                    color: var(--black);
                }
            }
        }
    }

    .main {
        padding: 3% 8%;
        width: 85%;

        .comm__top {
            display: flex;
            border-bottom: 1px solid #D6D6D6;
            justify-content: space-between;

            .comm_tab {
                ul {
                    display: flex;

                    li {
                        cursor: pointer;
                        padding: 12px 35px 10px;
                        font-size: 20px;
                        margin-right: 10px;
                    }

                    .active {
                        border-bottom: 2px solid var(--primary-color);
                    }

                }
            }

            .comm__search {
                width: 30%;
                display: flex;
                justify-content: space-between;
                padding-bottom: 10px;

                input {
                    padding: 10px 20px;
                    border: 1px solid #D6D6D6;
                    outline: none;
                    width: 70%;
                    border-radius: 6px;
                }

                ul {
                    cursor: pointer;
                    width: 28%;
                    border-radius: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--primary-color);
                    color: var(--white);
                }
            }
        }

        .comm__bottom {
            padding-top: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .comm__box {
                width: 32%;
                border: 1px solid #D4D4D4;
                border-radius: 8px;
                margin-bottom: 20px;

                .box {
                    border-bottom: 1px solid #D4D4D4;
                    padding: 20px 20px 10px;

                    .emoji {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding-bottom: 20px;

                        .emoticon {
                            width: 30px;
                            height: 30px;
                            background-size: cover;
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-image: url(../../img/icon_humanheeart.svg);
                        }

                        .like__btn {
                            cursor: pointer;
                            width: 27px;
                            height: 25px;
                            background-size: cover;
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-image: url(../../img/icon_heart.svg);
                        }

                    }

                    .comm__header {
                        display: flex;
                        align-items: end;
                        margin-bottom: 20px;

                        .cate {
                            padding: 5px 8px 2px;
                            background-color: #FF5E5E;
                            border-radius: 5px;
                            color: var(--white);
                            font-size: 13px;
                            font-weight: 900;
                            margin-right: 10px;


                        }

                        h2 {
                            font-size: 20px;
                            line-height: 1;
                        }
                    }

                    .comm__text {

                        p {
                            font-size: 14px;
                            color: #727272;
                            margin-bottom: 10px;
                        }

                        .anothor {
                            font-size: 12px;
                            color: #A4A4A4;
                        }
                    }
                }

                .comm__info {
                    padding: 10px 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    div {
                        display: flex;

                        .watch {
                            display: flex;
                            align-items: center;
                            margin-right: 10px;

                            div {
                                margin-bottom: 3px;
                                margin-right: 5px;
                                width: 15px;
                                height: 10px;
                                background-size: cover;
                                background-position: center center;
                                background-repeat: no-repeat;
                                background-image: url(../../img/icon_eye_empty.svg);
                            }

                            p {
                                color: #727272;
                                font-size: 13px;
                            }
                        }

                        .like {
                            display: flex;
                            align-items: center;

                            div {
                                margin-bottom: 3px;
                                margin-right: 5px;
                                width: 13px;
                                height: 13px;
                                background-size: cover;
                                background-position: center center;
                                background-repeat: no-repeat;
                                background-image: url(../../img/icon_heart_black.svg);
                            }

                            p {
                                color: #727272;
                                font-size: 13px;
                            }
                        }
                    }

                    .date {
                        color: #727272;
                        font-size: 13px;
                    }
                }
            }
        }

        .pagination {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                margin-right: 30px;

                .active {
                    color: var(--primary-color);
                }
            }

            .left {
                cursor: pointer;
                width: 30px;
                height: 30px;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url(../../img/icon_left.svg);
            }

            .right {
                cursor: pointer;
                width: 30px;
                height: 30px;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url(../../img/icon_right.svg);
            }
        }
    }

    .comm__write {
        padding: 3% 8%;
        width: 85%;

        .wirte__header {
            display: flex;
            border-bottom: 1px solid #D6D6D6;
            justify-content: space-between;

            h2 {
                padding: 12px 25px 10px;
                font-size: 20px;
                border-bottom: 2px solid var(--primary-color);
            }
        }

        .write__box {
            padding: 20px 0;

            .cate {
                position: relative;
                width: 20%;

                select {
                    cursor: pointer;
                    width: 100%;
                    outline: none;
                    padding: 15px 20px 13px;
                    border: 1px solid #D6D6D6;
                    border-radius: 8px;
                    color: #787878;
                    background-image: url(../../img/icon_arrowdown.svg);
                    background-position: calc(100% - 15px) center;
                    background-repeat: no-repeat;

                    option {
                        color: #787878;
                    }
                }

                select::-ms-expand {
                    display: block;
                }
            }

            input {
                margin-top: 20px;
                width: 100%;
                padding: 15px 20px 13px;
                border: 1px solid #D6D6D6;
                border-radius: 8px;
                color: #D6D6D6;
                outline: none;
            }

            textarea {
                height: 500px;
                margin-top: 20px;
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                padding: 30px 20px;
                border: 1px solid #D6D6D6;
                border-radius: 8px;
                color: #D6D6D6;
                white-space: pre-line;
                outline: none;
            }

            ::placeholder {
                color: #D6D6D6;
            }

            input[type=file]::file-selector-button {
                margin-right: 20px;
                padding: 10px 30px;
                border: 0;
                background-color: #EFEFEF;
                border-radius: 10px;
                cursor: pointer;
                color: #A9A9A9;
            }

            .file {
                padding: 15px 15px 13px;
            }
        }

        .button {
            margin-top: 20px;
            justify-content: right;
            display: flex;

            ul {
                background-color: #A0A0A0;
                color: var(--white);
                padding: 14px 50px 12px;
                border-radius: 8px;
                margin-right: 20px;
            }

            button {
                background-color: var(--primary-color);
                color: var(--white);
                padding: 14px 50px 12px;
                border-radius: 8px;
            }
        }
    }
}