.mypage_Wrap {
    display: flex;
    flex-wrap: wrap;

    .nav {
        width: 15%;
        background-color: #F4F4F4;
        text-align: center;
        border-right: 1px solid #D6D6D6;
        position: sticky;
        height: 100vh;
        top: 0;

        @media (max-width: 1250px) {
            display: none;
        }

        h2 {
            margin: 0 auto;
            width: 90%;
            margin-top: 55px;
            padding: 15px 10px 12px;
            background-color: var(--primary-color);
            font-size: 20px;
            border-radius: 7px;
            color: var(--white);
            font-weight: 900;
        }

        ul {
            margin-top: 30px;
            background-color: var(--white);

            li {
                text-align: left;
                padding: 0;
                display: flex;
                align-items: flex-start;
                flex-direction: column;

                ul {
                    margin: 0;

                    li {
                        padding-left: 1rem;
                    }
                }

                div {
                    margin-right: 5px;
                    margin-bottom: 3px;
                    width: 20px;
                    height: 20px;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                }

                a {
                    color: #565656;
                    padding: 15px 20px 12px;
                    display: block;
                }
            }

            .active {
                background-color: #D9F2E9;

                a {
                    color: var(--black);
                }
            }
        }
    }

    .main_color.main {
        background-color: #F4F4F4;
    }

    .main {

        padding: 2.8% 10% 3%;
        width: 85%;

        @media (max-width: 1500px) {
            padding: 2.8% 3% 3%;
            width: 85%;
        }

        @media (max-width: 1250px) {
            padding: 2.8% 2% 3%;
            width: 100%;
            margin: 0 auto;
        }


        .mypage_title {
            border-bottom: 1px solid #D6D6D6;

            h3 {
                display: inline-block;
                border-bottom: 2px solid var(--primary-color);
                padding: 0.3rem 1.5rem;
            }
        }

        .mypage_score {
            width: 100%;
            display: flex;
            justify-content: space-between;

            @media (max-width: 600px) {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: stretch;
            }

            >div {
                width: 32%;
                background-color: #fff;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 1.5rem;
                border-radius: 10px;

                @media (max-width: 600px) {
                    width: 100%;
                    margin-bottom: 1rem;
                }

                >div {
                    h3 {
                        color: #242424;
                        font-size: 1.1rem;
                        margin-bottom: 1.3rem;
                    }

                    p {
                        display: flex;
                        color: #989898;
                        font-size: 0.9rem;

                        img {
                            width: 20px;
                            margin-left: 0.5rem;
                            margin-top: -0.2rem;
                        }
                    }

                    em {
                        font-family: var(--mainfont-Gmarket-bold);
                        font-size: 3rem;
                        color: #242424;
                    }

                    img {
                        width: 80px;
                    }
                }
            }
        }

        .mypage_chart {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 1.4rem;

            @media (max-width: 600px) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }

            .mypage_grade {
                width: 49%;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                padding: 1.5rem;
                border-radius: 10px;

                @media (max-width: 600px) {
                    width: 100%;
                    margin-bottom: 1rem;
                }

                h4 {
                    color: #242424;
                    font-size: 1.1rem;
                    margin-bottom: 0.8rem;
                }
            }
        }

        .mypage_chart_all {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 1.4rem;

            .mypage_all {
                width: 100%;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                padding: 1.5rem;
                border-radius: 10px;

                h4 {
                    color: #242424;
                    font-size: 1.1rem;
                    margin-bottom: 0.8rem;
                }
            }
        }

    }

}

.score__Wrap {
    .main {
        .score_cont {
            table {
                tr {
                    th {
                        table.score_list {
                            tr {
                                th {
                                    .score_select.mypage_select {
                                        width: 100%;
                                    }
                                }

                            }

                        }

                    }

                }

            }

        }

    }

}

.mypage_college_cont {
    border-bottom: 1px solid #D6D6D6;
    padding: 0 2.5rem 2rem;

    h4 {
        font-size: 1.05rem;
        color: #000;
        margin-top: 2rem;
    }

    ul {
        margin-top: 0.5rem;
        list-style: disc;

        li {
            color: #626262;
            list-style: inside;
            font-size: 0.95rem;
            line-height: 1.8;

            ul {
                margin-top: 0;

                li {
                    padding-left: 1rem;
                    list-style: none;
                }
            }
        }
    }
}


.mypage_college_radio {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
    padding: 0 2.5rem 1.5rem;

    .container {
        display: block;
        position: relative;
        padding-left: 40px;
        display: inline-block;
        margin: 0;
        cursor: pointer;
        font-size: 1.05rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 20%;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;

            &:checked~.checkmark {
                border: 1px solid #00E594;
                background: #fff;

                &:after {
                    display: block;
                }
            }
        }

        // &:hover input~.checkmark {
        //     background-color: #fff;
        // }

        &:after {
            top: 9px;
            left: 9px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #00E594;
        }
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 22px;
        width: 22px;
        background-color: #eee;
        border-radius: 50%;

        &:after {
            content: "";
            position: absolute;
            display: none;
        }

        &:after {
            top: 4px;
            left: 4px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: #00E594;
        }
    }

}

.mypage_file {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    padding: 0 2.5rem 2rem;

    input {
        border: 1px solid #D6D6D6;
        border-radius: 8px;
        color: #D6D6D6;
        padding: 0.5rem;
        width: 50%;
    }

    input[type=file]::file-selector-button {
        margin-right: 20px;
        padding: 8px 20px;
        border: 0;
        background-color: #EFEFEF;
        border-radius: 5px;
        cursor: pointer;
        color: #A9A9A9;
        font-size: 0.9rem;
        font-family: var(--mainfont-Gmarket-medium);
    }

    button {
        margin-left: 0.5rem;
        padding: 0 1.7rem;
        border-radius: 8px;
        background-color: #989898;
        color: #fff;
        font-size: 1.1rem;
        cursor: pointer;
    }
}

.mypage_point {
    .point_top_btn {
        text-align: right;
        margin-bottom: 1.5rem;

        button.guide_btn {
            background-color: #ECECEC;
            color: #858585;
            padding: 0.7rem 1.5rem 0.6rem;
            border-radius: 50px;
        }

        button.point_btn {
            background-color: #D9F2E9;
            color: #00C881;
            padding: 0.7rem 1.5rem 0.6rem;
            border-radius: 50px;
            margin-left: 0.5rem;
        }
    }

    .point_payment {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 750px) {
            flex-wrap: wrap;
        }


        >div {
            width: 24%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            border: 2px solid #00D187;
            color: #00D187;
            border-radius: 10px;
            padding: 1.5rem;
            position: relative;

            @media (max-width: 1208px) {
                padding: 1rem;
            }

            @media (max-width: 750px) {
                width: 49%;
                margin-bottom: 1rem;
            }

            img {
                width: 50px;
                margin-top: -0.5rem;

                @media (max-width: 1208px) {
                    width: 38px;
                }
            }

            .point_tit {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;
                width: 100%;

                h3 {
                    font-size: 1.1rem;

                    @media (max-width: 1208px) {
                        font-size: 1rem;
                    }
                }


                em {
                    font-family: var(--mainfont-Gmarket-bold);
                    font-size: 2rem;
                    margin-bottom: -0.8rem;
                    margin-top: 0.5rem;

                    @media (max-width: 1208px) {
                        font-size: 1.8rem;
                    }

                    @media (max-width: 980px) {
                        font-size: 1.5rem;
                    }
                }
            }
        }

        .point_total {
            color: #fff;
            background-color: #00D187;

            img {
                margin-top: -0.2rem;
            }
        }

        .point_used {
            color: #FF8970;
            border: 2px solid #FF8970;

            img {
                margin-top: -0.2rem;
                position: absolute;
            }
        }
    }
}

.score_title.point_title {
    margin-top: 2rem;
}

.point_list {
    @media (max-width: 750px) {
        overflow-x: auto;
    }

    table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        margin-top: 0.5rem;

        @media (max-width: 750px) {
            font-size: 0.85rem;
            width: 135%;
        }

        tr {
            th {
                background-color: #F9F9F9;
                color: #4E4E4E;
                padding: 1rem 0 0.8rem;
                border-bottom: 1px solid #F0F0F0;
            }

            @media (max-width: 750px) {
                th:first-child {
                    width: 41% !important;
                }
            }



            td {
                color: #4E4E4E;
                padding: 1.2rem 0 1rem;
                border-bottom: 1px solid #F0F0F0;

                span.account_tag,
                span.use_tag,
                span.charge_tag {
                    margin-right: 1.5rem;

                    @media (max-width: 750px) {
                        margin-right: 1rem;
                    }
                }

                span.account_tag {
                    color: #A3A3A3;
                    display: inline-block;
                }

                span.charge_tag,
                span.charge_coin {
                    color: #00D187;
                }

                span.use_tag,
                span.use_coin {
                    color: #FF8970;
                }
            }

            td.total {
                color: #000;
            }
        }
    }
}

.guide_popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #00000075;

    .popup_wrap {
        background: #fff;
        width: 30%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;

        @media (max-width: 1200px) {
            width: 50%;
        }

        @media (max-width: 750px) {
            width: 90%;
        }

        .guide_cont {
            text-align: center;

            h4 {
                border-bottom: 1px solid #ddd;
                padding: 1.1rem 1.5rem 0.8rem;
                font-size: 1.3rem;
                text-align: left;
            }

            ul {
                padding: 2rem 1.5rem 1rem;
                color: #484848;
                font-size: 0.95rem;
                line-height: 1.5;

                li {
                    margin-bottom: 1rem;
                    list-style: initial;
                    margin-left: 1.5rem;
                    text-align: left;
                }
            }

            p.target_pop_desc {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                padding-left: 1.5rem;
                margin-top: 1rem;
                margin-bottom: 0.5rem;

                img {
                    width: 25px;
                    margin-right: 10px;
                    margin-bottom: 5px;
                }
            }

            .target_select {
                display: flex;
                width: 90%;
                margin: 0 auto;
                justify-content: space-between;
                align-items: stretch;



                .target_select_wrap {
                    display: flex;
                    justify-content: space-between;
                    width: 75%;

                    .target_select_bg {
                        background: url('../../img/icon_arrowdown.svg') no-repeat 97% 50%/25px auto;
                        width: 49%;
                        border: 1px solid #ddd;
                        border-radius: 8px;

                        select {
                            width: 100%;
                            height: 100%;
                            padding: 1rem 1rem 0.8rem;
                            font-size: 15px;
                            border: 0; //기본 스타일 제거
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            box-sizing: border-box;
                            background: transparent;
                            color: #4D4D4D;
                            outline: none;

                            @media (max-width: 1250px) {
                                font-size: 0.9rem;
                                padding: 1.2rem 1.2rem 1rem;
                            }

                            &::-ms-expand {
                                display: none;
                            }
                        }
                    }

                }


                .target_search {
                    width: 23%;

                    button {
                        margin: 0;
                        width: 100%;
                        padding: 1rem 1rem 0.8rem;
                    }
                }

            }

            .univer_list {
                width: 90%;
                margin: 3rem auto;
                border-top: 2px solid #626262;

                .uni_list {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0.8rem 1.5rem;
                    border-bottom: 1px solid #ddd;

                    span.ranking {
                        color: #696969;
                    }

                    .rank_modify_btn {
                        display: flex;

                        button {
                            background: none;
                            padding: 0;
                            margin: 0 3px;
                            width: 30px;
                        }
                    }

                    .delete_btn {
                        button {
                            background: none;
                            padding: 0;
                            color: #AAAAAA;
                            margin: 0;
                            width: auto;
                        }
                    }
                }
            }

            p.pw_pop_desc {
                text-align: left;
                width: 90%;
                margin: 1.5rem auto 0;
            }


            .pw_input {
                border: 1px solid #ddd;
                border-radius: 8px;
                padding: 1rem 1rem 0.8rem;
                width: 90%;
                outline: none;
                margin: 0.8rem 0 1.5rem;
            }

            .pop_btn.pw_btn {
                display: flex;
                width: 90%;
                justify-content: space-between;
                margin: 0 auto 1.5rem;

                button {
                    width: 49%;
                    margin: 0;
                }

                button.cancle_btn {
                    background-color: #A4A4A4;
                }
            }

            button {
                width: 90%;
                padding: 1rem;
                background-color: #00E594;
                margin: 0 auto 1.5rem;
                color: #fff;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}


.charge_popup {
    .popup_wrap {
        .guide_cont {
            .charge_pop_cont {
                padding: 2rem 1.5rem 1rem;

                >div {
                    margin-bottom: 1.5rem;

                    h5 {
                        text-align: left;
                        font-size: 1rem;
                        color: #484848;
                        margin-bottom: 0.5rem;
                    }

                    .method_cont {
                        display: flex;
                        justify-content: space-between;

                        span {
                            display: block;
                            width: 48.5%;
                            text-align: center;
                            padding: 1.5rem 0;
                            border: 1px solid #ddd;
                            border-radius: 8px;
                            color: #9B9B9B;
                        }
                    }

                    .count_cont {
                        display: flex;
                        justify-content: space-between;

                        span {
                            display: block;
                            width: 23.5%;
                            text-align: center;
                            padding: 0.8rem 0 0.6rem;
                            border: 1px solid #ddd;
                            border-radius: 8px;
                            color: #9B9B9B;
                        }
                    }
                }

                .charge_result {
                    display: flex;
                    justify-content: space-between;

                    .charge_total {
                        width: 48.5%;

                        input {
                            border: 1px solid #ddd;
                            border-radius: 8px;
                            padding: 0.8rem 1rem 0.6rem;
                            width: 100%;
                            outline: none;
                        }
                    }


                }

                .charge_email {

                    input {
                        border: 1px solid #ddd;
                        border-radius: 8px;
                        padding: 0.8rem 1rem 0.6rem;
                        width: 100%;
                        outline: none;

                        &::placeholder {
                            color: #9B9B9B;
                        }
                    }
                }
            }

            .mypage_college_radio.charge_radio {
                flex-direction: column;
                align-items: flex-start;
                margin-top: 0;

                .container {
                    width: 100%;
                    text-align: left;
                    margin-bottom: 1rem;
                    color: #484848;
                    font-size: 0.9rem;
                    padding-left: 34px;

                    a {
                        color: #00E594;
                    }

                    .checkmark {
                        height: 20px;
                        width: 20px;

                        &:after {
                            top: 4px;
                            left: 4px;
                            width: 10px;
                            height: 10px;
                        }
                    }
                }
            }


        }
    }
}

.mypage_display {
    p.display_desc {
        background-color: #F6F6F6;
        color: #575757;
        padding: 1rem 1.5rem;
        margin-top: 1rem;
    }

    .display_list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.5rem;

        @media (max-width: 1200px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 1.5rem;
        }

        .display_info {
            width: 50%;

            @media (max-width: 1200px) {
                width: 100%;
            }

            ul {
                margin-top: 1.5rem;

                li {
                    color: #A8A8A8;
                    font-size: 0.8rem;
                }
            }
        }

        .display_price {
            width: 47%;

            @media (max-width: 1200px) {
                width: 100%;
            }

            .display_week {
                margin: 2rem 0;

                h4 {
                    font-size: 1.5rem;
                    font-family: var(--mainfont-Gmarket-bold);
                    color: #2D2D2D;
                    margin-bottom: 0.5rem;
                }

                ul {
                    li {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding: 0.9rem 1rem;
                        border: 1px solid #D8D8D8;
                        border-radius: 10px;
                        margin-bottom: 0.7rem;
                        align-items: center;
                        font-size: 1rem;
                        padding-left: 1.5rem;

                        .price {
                            em {
                                font-family: var(--mainfont-Gmarket-bold);
                                font-size: 1.25rem;
                                margin-right: 1.5rem;
                            }

                            button {
                                color: #00E594;
                                border: 1px solid #00E594;
                                padding: 0.4rem 2.5rem 0.5rem;
                                border-radius: 5px;
                                font-size: 0.9rem;
                                background-color: #fff;
                                cursor: pointer;
                            }
                        }
                    }

                    li.active {
                        background-color: #F2FDF9;
                        border: 1px solid #00E594;
                    }
                }
            }
        }
    }
}

.buy_popup {
    .popup_wrap {
        .guide_cont {
            ul {
                li {
                    list-style: none;
                    display: flex;
                    margin-left: 0;
                    align-items: center;

                    label {
                        width: 17%;
                        font-size: 1rem;
                    }

                    input {
                        width: 80%;
                        border: 1px solid #ddd;
                        border-radius: 8px;
                        padding: 0.9rem 1rem 0.7rem;
                        outline: none;

                        &::placeholder {
                            color: #9B9B9B;
                        }
                    }

                    input.file_input {
                        padding: 0.6rem 0.6rem;
                        color: #9B9B9B;

                    }

                    input[type=file]::file-selector-button {
                        margin-right: 20px;
                        padding: 5px 10px;
                        border: 0;
                        background-color: #EFEFEF;
                        border-radius: 5px;
                        cursor: pointer;
                        color: #A9A9A9;
                        font-size: 0.9rem;
                        font-family: var(--mainfont-Gmarket-medium);
                    }

                }
            }

            .check_wrap {
                display: flex;
                text-align: center;
                justify-content: center;
                margin-bottom: 1.5rem;

                @media (max-width: 1250px) {
                    margin-left: 0;
                }

                .checkCont {
                    display: block;
                    position: relative;
                    padding-left: 2rem;
                    cursor: pointer;
                    font-size: 1rem;
                    color: #787878;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    margin-right: 3rem;

                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;

                        &:checked~.checkmark {
                            background-color: var(--primary-color);
                            border: none;

                            &:after {
                                display: block;
                            }
                        }
                    }

                    &:after {
                        left: 6px;
                        top: 1px;
                        width: 7px;
                        height: 12px;
                        border: solid white;
                        border-width: 0 2px 2px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                }

                .checkmark {
                    position: absolute;
                    top: 1px;
                    left: 0;
                    height: 18px;
                    width: 18px;
                    border: 1px solid #b3b3b3;
                    border-radius: 3px;

                    @media (max-width: 1250px) {
                        top: -1px;
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        display: none;
                    }

                    &:after {
                        left: 6px;
                        top: 1px;
                        width: 7px;
                        height: 12px;
                        border: solid white;
                        border-width: 0 2px 2px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                }
            }

            .pop_btn {
                display: flex;
                width: 90%;
                justify-content: space-between;
                margin: 0 auto;

                button {
                    width: 47%;
                }

                button.cancle_btn {
                    background-color: #A4A4A4;
                }
            }
        }
    }
}

.mypage_info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding: 6rem;

    @media (max-width: 1200px) {
        padding: 4rem 2rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    @media (max-width: 750px) {
        padding: 4rem 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .info_profile {
        width: 30%;

        @media (max-width: 750px) {
            width: 50%;
        }

        .profile {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            >img {
                width: 80%;
            }

            button {
                position: absolute;
                background: none;
                width: 70px;
                height: 70px;
                bottom: 0;
                right: 10%;

                @media (max-width: 1200px) {
                    width: 50px;
                    height: 50px;
                }
            }
        }

        p {
            font-size: 2rem;
            font-family: var(--mainfont-Gmarket-light);
            text-align: center;
            margin: 2rem 0 1rem;
        }

        button.profile_btn {
            background-color: #F8F8F8;
            border: 1px solid #E1E1E1;
            border-radius: 6px;
            width: 100%;
            padding: 0.5rem 0 0.6rem;
            font-size: 0.9rem;
            color: #A4A4A4;
        }
    }

    .info_cont {
        width: 50%;

        @media (max-width: 1200px) {
            width: 60%;
        }

        @media (max-width: 750px) {
            width: 100%;
            margin-top: 3rem;
        }

        div {
            label {
                color: #5A5A5A;
            }

            >div {
                input {
                    border: 1px solid #C5C5C5;
                    padding: 0.9rem 1rem 0.7rem;
                    width: 100%;
                    border-radius: 6px;
                    margin-bottom: 2rem;
                    margin-top: 0.3rem;

                    &::placeholder {
                        color: #C5C5C5;
                    }
                }
            }
        }

        .info_modify_btn {
            background-color: #00E594;
            color: #fff;
            padding: 0.9rem 1rem 0.7rem;
            width: 100%;
            border-radius: 6px;
        }

        .info_out_btn {
            background-color: #F8F8F8;
            color: #A4A4A4;
            border: 1px solid #E1E1E1;
            padding: 0.5rem 1rem 0.4rem;
            border-radius: 6px;
            font-size: 0.9rem;
            float: right;
            margin-top: 2rem;
        }
    }
}

.pop_btn {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;

    button {
        width: 47%;
    }

    button.cancle_btn {
        background-color: #A4A4A4 !important;
    }
}


.mypage_target {
    ul {
        background-color: #F6F6F6;
        color: #575757;
        padding: 1.2rem 1.5rem 1rem;
        margin-top: 1rem;

        li {
            list-style: inside;
            line-height: 1.7;
        }
    }

    .map_target {
        border-bottom: 1px solid #D6D6D6;
        padding-bottom: 1.5rem;

        .local__map__Wrap {
            display: flex;
            flex-wrap: wrap;

            .UnInfo__Wrap {
                overflow: hidden;
                width: 49%;
                margin-top: 1.5rem;

                @media (max-width: 1200px) {
                    width: 100%;
                }
            }
        }
    }

    .target_modify {
        margin-top: 1.5rem;
        margin-bottom: 5rem;

        button {
            background-color: #00CA82;
            color: #fff;
            padding: 0.9rem 3rem 0.85rem;
        }
    }
}