.score__Wrap {
    display: flex;
    flex-wrap: wrap;

    .nav {
        width: 15%;
        background-color: #F4F4F4;
        text-align: center;
        border-right: 1px solid #D6D6D6;
        position: sticky;
        height: 100vh;
        top: 0;

        @media (max-width: 1250px) {
            display: none;
        }

        h2 {
            margin: 0 auto;
            width: 90%;
            margin-top: 55px;
            padding: 15px 10px 12px;
            background-color: var(--primary-color);
            font-size: 20px;
            border-radius: 7px;
            color: var(--white);
            font-weight: 900;
        }

        ul {
            margin-top: 30px;
            background-color: var(--white);

            li {
                text-align: left;
                padding: 15px 20px 12px;
                display: flex;
                align-items: center;

                div {
                    margin-right: 5px;
                    margin-bottom: 3px;
                    width: 20px;
                    height: 20px;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                }

                a {
                    color: #565656;
                }
            }

            .active {
                background-color: #D9F2E9;

                a {
                    color: var(--black);
                }
            }
        }
    }

    .main {
        padding: 2.8% 10% 3%;
        width: 85%;

        @media (max-width: 1500px) {
            padding: 2.8% 3% 3%;
            width: 85%;
        }

        @media (max-width: 1250px) {
            padding: 2.8% 2% 3%;
            width: 100%;
            margin: 0 auto;
        }

        .score_title {
            border-bottom: 1px solid #D6D6D6;

            h3 {
                display: inline-block;
                border-bottom: 2px solid var(--primary-color);
                padding: 0.3rem 1.5rem;
            }
        }

        .score_cont {
            table {
                width: 100%;
                margin-top: 1.5rem;
                border-spacing: 0;
                border-collapse: collapse;

                tr {
                    @media (max-width: 1250px) {
                        display: flex;
                        flex-wrap: wrap;
                    }

                    td {
                        background: #F6F6F6;
                        padding: 0.85rem 0 0.6rem;
                        width: 11%;
                        text-align: center;
                        border: 1px solid #D6D6D6;
                        border-right: none;

                        @media (max-width: 1250px) {
                            display: none;
                        }
                    }

                    th {
                        padding: 0.85rem 1rem;
                        border: 1px solid #D6D6D6;
                        text-align: left;

                        @media (max-width: 1250px) {
                            border: none;
                        }

                        .check_wrap {
                            display: flex;
                            margin-left: 1rem;
                            margin-bottom: -0.25rem;

                            @media (max-width: 1250px) {
                                margin-left: 0;
                            }

                            .checkCont {
                                display: block;
                                position: relative;
                                padding-left: 2rem;
                                cursor: pointer;
                                font-size: 1rem;
                                color: #535353;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                                margin-right: 3rem;

                                input {
                                    position: absolute;
                                    opacity: 0;
                                    cursor: pointer;
                                    height: 0;
                                    width: 0;

                                    &:checked~.checkmark {
                                        background-color: var(--primary-color);
                                        border: none;

                                        &:after {
                                            display: block;
                                        }
                                    }
                                }

                                &:hover input~.checkmark {
                                    background-color: #e9e9e9;
                                    border: none;
                                }

                                &:after {
                                    left: 6px;
                                    top: 1px;
                                    width: 7px;
                                    height: 12px;
                                    border: solid white;
                                    border-width: 0 2px 2px 0;
                                    -webkit-transform: rotate(45deg);
                                    -ms-transform: rotate(45deg);
                                    transform: rotate(45deg);
                                }
                            }

                            .checkmark {
                                position: absolute;
                                top: 1px;
                                left: 0;
                                height: 18px;
                                width: 18px;
                                border: 1px solid #b3b3b3;
                                border-radius: 3px;

                                @media (max-width: 1250px) {
                                    top: -1px;
                                }

                                &:after {
                                    content: "";
                                    position: absolute;
                                    display: none;
                                }

                                &:after {
                                    left: 6px;
                                    top: 1px;
                                    width: 7px;
                                    height: 12px;
                                    border: solid white;
                                    border-width: 0 2px 2px 0;
                                    -webkit-transform: rotate(45deg);
                                    -ms-transform: rotate(45deg);
                                    transform: rotate(45deg);
                                }
                            }
                        }

                        .college_wrap {
                            display: inline-flex;
                            background-color: #F6F6F6;
                            padding: 0.9rem 1rem 0.8rem;
                            border-radius: 5px;

                            @media (max-width: 1250px) {
                                width: 100%;
                            }

                            svg {
                                stroke: #7D7D7D;
                                width: 20px;
                                height: 20px;
                                margin-top: -0.05rem;

                                @media (max-width: 1250px) {
                                    width: 17px;
                                    height: 17px;
                                    margin-top: 0;
                                }
                            }

                            input {
                                background: none;
                                outline: none;

                                &::placeholder {
                                    color: #979797;
                                }

                                @media (max-width: 1250px) {
                                    font-size: 0.9rem;
                                    width: 100%;
                                }

                            }
                        }

                        .depart {
                            display: flex;
                            border-collapse: collapse;

                            @media (max-width: 1250px) {
                                flex-direction: column;
                            }

                            .depart_wrap,
                            .type_wrap {
                                width: 50%;
                                border: 1px solid #D6D6D6;

                                @media (max-width: 1250px) {
                                    width: 100%;
                                }

                                .depart_title {
                                    background-color: #F6F6F6;
                                    padding: 0.95rem 0 0.7rem;
                                    text-align: center;
                                    color: #4D4D4D;
                                    border-bottom: 1px solid #D6D6D6;
                                }

                                ul {
                                    max-height: 220px;
                                    overflow-y: scroll;
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: wrap;
                                    justify-content: space-between;

                                    &::-webkit-scrollbar {
                                        width: 8px;
                                    }

                                    &::-webkit-scrollbar-track {
                                        background-color: #F2F2F2;
                                        border-radius: 50px;
                                    }

                                    &::-webkit-scrollbar-thumb {
                                        background: #ABABAB;
                                        border-radius: 50px;
                                    }


                                    li {
                                        width: 50%;
                                        padding: 0.7rem 1.5em 0.5rem;
                                        color: #676767;
                                        font-size: 0.95rem;

                                        &:nth-child(2n) {
                                            border-left: 1px solid #D6D6D6;
                                        }

                                        &:hover {
                                            background-color: var(--primary-color);
                                            color: #fff;
                                            cursor: pointer;
                                        }
                                    }

                                    li.active {
                                        background-color: var(--primary-color);
                                        color: #fff;
                                    }
                                }
                            }

                            .type_wrap {
                                border-left: 0;

                                @media (max-width: 1250px) {
                                    border: 1px solid #D6D6D6;
                                    margin-top: 1rem;
                                }
                            }
                        }

                        table.score_wrap {
                            margin: 0;

                            @media (max-width: 1250px) {
                                border: 1px solid #D6D6D6;
                                border-spacing: 0;
                                border-collapse: collapse;
                            }

                            tr {
                                @media (max-width: 1250px) {
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: row;
                                    justify-content: space-around;
                                }

                                td {
                                    border: 1px solid #D6D6D6;
                                    padding: 0.95rem 0 0.7rem;
                                    color: #4D4D4D;

                                    @media (max-width: 1250px) {
                                        display: block;
                                        width: 33.333333%;
                                        border-collapse: collapse;
                                        border: none;
                                        font-size: 0.9rem;
                                        padding: 0.7rem 0 0.5rem;
                                    }
                                }

                                th {
                                    @media (max-width: 1250px) {
                                        padding: 0.5rem 0;
                                    }

                                    div {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        color: #4D4D4D;

                                        @media (max-width: 1250px) {
                                            font-size: 0.8rem;
                                        }

                                        button {
                                            color: #fff;
                                            background-color: #848484;
                                            padding: 0.5rem 1rem 0.4rem;
                                            font-size: 0.8rem;
                                            border-radius: 50px;
                                            margin-top: 0.2rem;

                                            @media (max-width: 1250px) {
                                                font-size: 0.7rem;
                                            }

                                            &:hover {
                                                background-color: var(--primary-color);
                                            }
                                        }

                                        button.active {
                                            background-color: var(--primary-color);
                                        }
                                    }
                                }
                            }
                        }

                        .score_cont {
                            .score_choice_title {
                                color: #4D4D4D;
                                font-size: 1.2rem;
                                margin: 2rem 0 0.5rem;
                            }

                            .score_select {
                                width: 300px;
                                background: url('../../img/icon_arrowdown.svg') no-repeat 97% 50%/25px auto;
                                background-color: #F6F6F6;
                                padding: 0.9rem 1rem 0.8rem;
                                border-radius: 5px;

                                @media (max-width: 1250px) {
                                    width: 100%;
                                    font-size: 0.9rem;
                                    padding: 0;
                                }

                                select {
                                    width: 100%;
                                    height: 100%;
                                    padding: 0 28px 0 10px;
                                    font-size: 15px;
                                    border: 0; //기본 스타일 제거
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance: none;
                                    box-sizing: border-box;
                                    background: transparent;
                                    color: #4D4D4D;
                                    outline: none;

                                    @media (max-width: 1250px) {
                                        font-size: 0.9rem;
                                        padding: 1.2rem 1.2rem 1rem;
                                    }

                                    &::-ms-expand {
                                        display: none;
                                    }
                                }


                            }
                        }

                        table.score_list {
                            margin-top: 1rem;



                            tr {
                                @media (max-width: 1250px) {
                                    display: flex;
                                    flex-wrap: wrap;
                                    justify-content: space-between;
                                }

                                td {
                                    border: 1px solid #D6D6D6;
                                    padding: 0.95rem 0 0.7rem;
                                    color: #4D4D4D;
                                }

                                th {
                                    font-size: 0.85rem;
                                    text-align: center;

                                    @media (max-width: 1250px) {
                                        padding: 0;
                                        margin-bottom: 0.5rem;
                                    }

                                    input {
                                        background-color: #F6F6F6;
                                        padding: 0.9rem 1rem 0.8rem;
                                        border-radius: 5px;
                                        display: inline-block;
                                        font-size: 0.85rem;
                                        outline: none;


                                    }

                                    .input_num {
                                        text-align: center;

                                        @media (max-width: 1250px) {
                                            text-align: left;
                                        }
                                    }

                                    .score_select {
                                        background: url('../../img/icon_arrowdown.svg') no-repeat 90% 50%/20px auto;
                                        border: 1px solid #D6D6D6;
                                        border-radius: 5px;

                                        display: inline-block;
                                        font-size: 0.85rem;
                                        text-align: left;
                                        width: 100px;

                                        select {
                                            display: inline-block;
                                            font-size: 0.85rem;
                                            padding: 0.9rem 1rem 0.8rem;
                                            width: 100%;
                                            outline: none;
                                            border: 0; //기본 스타일 제거
                                            -webkit-appearance: none;
                                            -moz-appearance: none;
                                            appearance: none;
                                            box-sizing: border-box;
                                            background: transparent;
                                            color: #4D4D4D;
                                            outline: none;

                                            &::-ms-expand {
                                                display: none;
                                            }
                                        }

                                        // select {
                                        //     border: 1px solid #D6D6D6;
                                        //     border-radius: 5px;
                                        //     padding: 0.9rem 1rem 0.8rem;
                                        //     display: inline-block;
                                        //     font-size: 0.85rem;
                                        //     width: 100px;
                                        //     outline: none;
                                        // }
                                    }

                                    button {
                                        text-align: center;
                                        background: #848484;
                                        color: #fff;
                                        padding: 0.4rem 0.5rem 0.3rem;
                                        font-size: 0.75rem;
                                        outline: none;
                                        cursor: pointer;

                                        @media (max-width: 1250px) {
                                            float: right;
                                        }
                                    }

                                }

                                th.no {
                                    @media (max-width: 1250px) {
                                        display: flex;
                                        align-items: center;
                                        padding-right: 1rem;
                                    }
                                }

                                th.m_w50 {
                                    @media (max-width: 1250px) {
                                        width: 49%;
                                    }
                                }

                                th.width100 {
                                    div {
                                        input {
                                            @media (max-width: 1250px) {
                                                width: 100%;
                                            }
                                        }
                                    }

                                }
                            }

                            tr.score_mobile_list {
                                @media (max-width: 1250px) {
                                    border-top: 1px solid #D6D6D6;
                                    padding-top: 1rem;
                                }
                            }
                        }

                        button.scorePlus_btn {
                            width: 100%;
                            margin-top: 1rem;
                            padding: 0.6rem 0;
                            background: #F6F6F6;
                            border: 1px solid #D6D6D6;
                            font-size: 0.9rem;
                            letter-spacing: -0.5px;
                            color: #585858;
                            cursor: pointer;
                        }

                    }

                    th.width100 {
                        @media (max-width: 1250px) {
                            width: 100%;
                        }
                    }
                }

                tr.score01 {
                    @media (max-width: 1250px) {
                        width: 100%;
                    }
                }
            }

            .score_btn {
                text-align: center;
                margin: 5rem 0;

                button.scoreResult_btn {
                    width: 140px;
                    border-radius: 50px;
                    background-color: var(--primary-color);
                    color: #fff;
                    padding: 0.7rem 0 0.8rem;
                    cursor: pointer;
                }
            }

            .score_result_txt {
                text-align: center;
                font-size: 2rem;
                margin-bottom: 5rem;

                @media (max-width: 1250px) {
                    font-size: 1.5rem;
                }

                span {
                    color: var(--primary-color);
                    font-family: var(--mainfont-Gmarket-bold);
                    font-size: 2.5rem;


                }
            }
        }
    }
}